---
import GlobalLayouts from "../layouts/GlobalLayouts.astro";


---
<GlobalLayouts title="Phone Store">
  <section class=" flex justify-center flex-col mb-10">
    <h2 class="text-3xl text-center  font-semibold mb-20">hay que ver como ser hara esta parte</h2>
    <img  src="https://i.makeagif.com/media/12-25-2015/mFU56f.gif" alt="se esta trabajando">
    
    
  </section>



</GlobalLayouts>