---

import GlobalLayouts from '../layouts/GlobalLayouts.astro';
import { dataAbout } from '../components/data/aboutData'

---
<GlobalLayouts title="Phone Store">

<div class="container mx-auto h-sccreen px-4 py-8">
	<h1 class="text-3xl text-center font-bold mb-6">Sobre Nosotros</h1>
	<div>
		<img class="w-full h-80 object-cover  rounded-xl mb-20"
		 src={dataAbout.img}
 alt="">
	</div>
	<div class="w-[80%] mx-auto ">
		{
			dataAbout.description.map((about) => (
			<p class="text-lg mb-6">	{about}	</p>
			))
		}
	

</div>
</div>


</GlobalLayouts>
