---
import Layout from '../layouts/BlogPost.astro';
import GlobalLayouts from '../layouts/GlobalLayouts.astro';
---
<GlobalLayouts title="Phone Store">

<Layout
	title="Sobre Nosotros"
	description="Sobre Nosotros"
	pubDate={new Date('August 08 2021')}
	heroImage="https://scontent-bos5-1.xx.fbcdn.net/v/t39.30808-6/424643878_18323188354136551_3756717131162706353_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=WfFtJHNuxxQQ7kNvgFS6AWo&_nc_ht=scontent-bos5-1.xx&oh=00_AYB2pExY03VN0-A6OHeqMxhZt0xrOfXpsUHBFl6m4_ewlA&oe=66717B2A"
>
<div class="container mx-auto px-4 py-8">
	
	<p class="text-lg mb-6">
		En nuestra tienda de celulares, nos apasiona proporcionar a nuestros clientes los mejores productos y servicios. Con años de experiencia en la industria, hemos establecido una reputación de confianza y excelencia.
	</p>
	<p class="text-lg mb-6">
		Nuestro equipo de expertos está dedicado a ayudarte a encontrar el dispositivo perfecto que se adapte a tus necesidades y presupuesto. Ya sea que estés buscando el último modelo de teléfono inteligente o necesites reparar tu dispositivo actual, estamos aquí para ayudarte en cada paso del camino.
	</p>
	<p class="text-lg mb-6">
		Además de nuestras ventas de teléfonos y accesorios, también ofrecemos servicios de reparación profesionales. Nuestros técnicos altamente capacitados pueden solucionar una variedad de problemas, desde pantallas rotas hasta problemas de batería y más. Utilizamos piezas de alta calidad y tecnología de vanguardia para garantizar que tu dispositivo funcione como nuevo.
	</p>
	<p class="text-lg mb-6">
		En nuestra tienda, nos esforzamos por brindar un servicio al cliente excepcional. Siempre estamos aquí para responder tus preguntas y resolver cualquier problema que puedas tener. ¡Esperamos poder ayudarte con todas tus necesidades de telefonía móvil!
	</p>
	<p class="text-sm font-light  mb-6">
		proximo al parquesito del reparto yuna BONAO, Monseñor Nouel, Monsenor Nouel. <br> Dominican Republic 42000
	</p>
</div>


</Layout>
</GlobalLayouts>
