---

---



<section class=" pt-24 sm:pt-0 bg-[radial-gradient(circle_at_bottom_left,_var(--tw-gradient-stops))] from-black via-slate-800 to-blue-800 relative h-[400px] rounded-2xl mb-12 flex justify-between" >
  
  <div class="w-1/2 flex justify-center items-center absolute bottom-[280px]  translate-x-1/2 h-80 overflow-hidden sm:hidden">
    <img class="relative top-40" src="https://imgs.search.brave.com/DA0CgAmfUS_IIXRlWqiRnH-hGabjY0K4nmz9j9qw26g/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5nbWFydC5jb20v/ZmlsZXMvMTUvQXBw/bGUtaVBob25lLTEy/LVBORy1IRC5wbmc" alt="">
  </div>
  
    <div class="max-w-xl text-center  sm:w-2/3 flex flex-col justify-center sm:items-start sm:pl-5">
      
      <h1 class="text-3xl font-extrabold sm:text-5xl">
        

        <strong class="block font-extrabold text-rose-700 sm:pl-10"> Phone Store </strong>
      </h1>

      <p class="mt-4 max-w-lg sm:text-start px-5 text-white">
        experto en micro soldaduras y cambio de todos los cristales a celulares además somos ventas de celulares Ascesorios y más visítanos
      </p>

      
    </div>

  <div class=" sm:flex flex-wrap gap-4 text-center bg-blue-300/10 w-1/2 hidden h-full overflow-hidden">
        <img src="https://imgs.search.brave.com/DA0CgAmfUS_IIXRlWqiRnH-hGabjY0K4nmz9j9qw26g/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5nbWFydC5jb20v/ZmlsZXMvMTUvQXBw/bGUtaVBob25lLTEy/LVBORy1IRC5wbmc" alt="">

      
  </div>
</section>