---
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.tsx'
interface Props {
	title: string;
}

const { title } = Astro.props;
const  path  = Astro;


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={title} />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="png" href="../../logo.png" /> -->
		
		<title>{title}</title>
	</head>
	<body id='home' >
		<NavBar client:load />
	<section class=" max-w-[1080px] h-auto  mx-auto px-5 sm:p-0 ">
		<slot />
  </section>
    <Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	body{
		
	}
	
</style>